<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>wxyyzf</display-name>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  <servlet>
  	<description>JAX-WS endpoint - mubanbiaoService</description>
  	<display-name>mubanbiaoService</display-name>
  	<servlet-name>mubanbiaoService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>mubanbiaoService</servlet-name>
  	<url-pattern>/shebeibiaoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mubanbiaoService</servlet-name>
  	<url-pattern>/mubanbiaoPort</url-pattern>
  </servlet-mapping></web-app>